@model List<EjemploHorarios.Models.HorarioViewModel>

<h2>Horario: @ViewBag.NombreHorario</h2>

<div class="table-responsive">
    <table class="table table-bordered align-middle text-center">
        <thead class="table-success">
            <tr>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sábado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @foreach (var h in Model.Where(x => x.Dia == "Lunes"))
                    {
                        <div>
                            <b>@h.HoraDesde - @h.HoraHasta</b><br />
                            @h.ProgramaNombre<br />
                            @h.CompetenciaNombre<br />
                            @h.ResultadoNombre<br />
                            @h.InstructorNombre
                        </div>
                        <hr />
                    }
                </td>
                <td>
                    @foreach (var h in Model.Where(x => x.Dia == "Martes"))
                    {
                        <div>
                            <b>@h.HoraDesde - @h.HoraHasta</b><br />
                            @h.ProgramaNombre<br />
                            @h.CompetenciaNombre<br />
                            @h.ResultadoNombre<br />
                            @h.InstructorNombre
                        </div>
                        <hr />
                    }
                </td>
                <td>
                    @foreach (var h in Model.Where(x => x.Dia == "Miércoles"))
                    {
                        <div>
                            <b>@h.HoraDesde - @h.HoraHasta</b><br />
                            @h.ProgramaNombre<br />
                            @h.CompetenciaNombre<br />
                            @h.ResultadoNombre<br />
                            @h.InstructorNombre
                        </div>
                        <hr />
                    }
                </td>
                <td>
                    @foreach (var h in Model.Where(x => x.Dia == "Jueves"))
                    {
                        <div>
                            <b>@h.HoraDesde - @h.HoraHasta</b><br />
                            @h.ProgramaNombre<br />
                            @h.CompetenciaNombre<br />
                            @h.ResultadoNombre<br />
                            @h.InstructorNombre
                        </div>
                        <hr />
                    }
                </td>
                <td>
                    @foreach (var h in Model.Where(x => x.Dia == "Viernes"))
                    {
                        <div>
                            <b>@h.HoraDesde - @h.HoraHasta</b><br />
                            @h.ProgramaNombre<br />
                            @h.CompetenciaNombre<br />
                            @h.ResultadoNombre<br />
                            @h.InstructorNombre
                        </div>
                        <hr />
                    }
                </td>
                <td>
                    @foreach (var h in Model.Where(x => x.Dia == "Sábado"))
                    {
                        <div>
                            <b>@h.HoraDesde - @h.HoraHasta</b><br />
                            @h.ProgramaNombre<br />
                            @h.CompetenciaNombre<br />
                            @h.ResultadoNombre<br />
                            @h.InstructorNombre
                        </div>
                        <hr />
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
